.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: rgb(52, 53, 58);
  color: white;
  font-family: 'poppins', sans-serif;
  margin-top: 0pt;
}

/* Header Section */
header {
  background-color: rgb(52, 53, 58);
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  margin: 0pt auto;
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Keep vertical alignment */
}

.header-nav-wrapper {
  display: flex;
}

.header-nav-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-nav-li {
  color: rgb(155, 155, 155);
  display: inline-block;
  margin: 0 10px;
  padding: 5px 15px;
  max-width: 100%;
}

header a:link {
  color: rgb(155, 155, 155);
  text-decoration: none;
}

header a:visited {
  color: rgb(155, 155, 155);
  text-decoration: none;
}

header a:focus {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: white;
  text-decoration: none;
}

header a:active {
  color: white;
  text-decoration: none;
}

/* Main Section */
main {
  padding: 16px 32px 32px 32px;
}

/* Blog Section */
.blog-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10%;
  padding-top: 160px;
  scale: 120%;
}

.blog-list {
  width: 30%;
}

.blog-list-tc {
  list-style-type: none;
}

.blog-list-tc li {
  font-size: 14px;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  margin-right: 1%;
  font-weight: 700;
}

.date {
  font-size: 10px;
  margin-right: 1%;
  color: rgb(125, 125, 125);
}

.description {
  font-size: 10px;
  margin-right: 15%;
  color: rgb(125, 125, 125);
}

.read-more {
  font-size: 15px;
  margin-left: auto;
}

.blog-list a:link {
  color: rgb(175, 118, 31);
  text-decoration: none;
}

.blog-list a:visited {
  color: rgb(175, 118, 31);
  text-decoration: none;
}

.blog-list a:focus {
  color: orange;
  text-decoration: none;
}

.blog-list a:hover {
  color: orange;
  text-decoration: none;
}

.blog-list a:active {
  color: orange;
  text-decoration: none;
}

.image-text-section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.image-text-section img {
  max-width: 50%;
  padding-left: 5%;
  height: auto;
}

.margin-remove {
  margin-top: 0px;
  margin-bottom: 0px;
}

.flex-box-center {
  margin-left: 20%;
}

#contact {
  /* Here is a random ID to show that I can do IDs */
  font-weight: 800;
  font-style: italic;
  letter-spacing: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 15pt 0;
  align-items: center;
}

/* widescreen displays */
@media only screen and (max-width: 1150px) {
  main {
    background-color: darkblue;
  }
  .blog-section {
    gap: 5%;
    scale: 100%;
    padding-top: 100px;
  }
  .blog-list {
    width: 40%;
  }
  .blog-list-tc .description {
    margin-right: 5%;
  }
  .flex-box-center {
    margin-left: 10%;
  }
}

/* tablets */
@media (max-width: 760px) {
  main {
    background-color: black;
  }
  .image-text-section {
    flex-direction: column;
    text-align: center;
  }
  .image-text-section img {
    max-width: 100%;
    margin-bottom: 20x;
  }
  .blog-section {
    flex-direction: column;
  }
  .blog-list {
    width: 100%;
  }
  .flex-box-center {
    margin-bottom: 40px;
    margin-left: 0px;
  }
}
/* phones */
@media (max-width: 360px) {
  .header-nav-li {
    padding: 0;
  }
  .blog-list-tc {
    padding: 0px;
    width: 100%;
  }
  .title {
    font-size: 9px;
    margin-right: 1%;
    font-weight: 700;
  }

  .date {
    font-size: 7px;
    margin-right: 1%;
    color: rgb(125, 125, 125);
  }

  .description {
    font-size: 7px;
    margin-right: 15%;
    color: rgb(125, 125, 125);
  }

  .read-more {
    font-size: 10px;
    margin-left: auto;
  }
}
