.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* ^ Font Settings ^ */

:root {
  background-color: rgb(52, 53, 58);
  color: white;
  font-family: 'poppins', sans-serif;
}

body {
  margin: 0;
}

/* Header Section */
header {
  background-color: rgb(43, 43, 48);
  font-family: 'poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0pt auto;
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Keep vertical alignment */
  padding: 10px;
  border: 0px solid rgb(39, 39, 39);
  border-radius: 5px;
  box-shadow: 0 3px 8px 0 rgb(32, 32, 32);
}

.header-nav-wrapper {
  display: flex;
}

.header-nav-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-nav-li {
  color: rgb(155, 155, 155);
  display: inline-block;
  margin: 0 10px;
  padding: 5px 15px;
  max-width: 100%;
}

header a:link {
  color: rgb(155, 155, 155);
  text-decoration: none;
}

header a:visited {
  color: rgb(155, 155, 155);
  text-decoration: none;
}

header a:focus {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: white;
  text-decoration: none;
}

header a:active {
  color: white;
  text-decoration: none;
}

/* Main Section */
main {
  padding: 0;
}

.background-image {
  background-image: linear-gradient(
      rgba(29, 28, 33, 0.1),
      rgba(29, 28, 33, 0.116)
    ),
    url(/images/stock-mountains.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Welcome Section */
.image-text-section {
  background-color: rgb(52, 53, 58);
  display: flex;
  align-items: flex-start; /* Align items to the top */
  gap: 70px;
  min-height: 45vw; /* Use min-height for flexibility */
  padding: 20px; /* Add padding for visual spacing */
  margin-left: 0;
  margin-right: 0;
}

.image-text-section img {
  max-width: 50%;
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure image fits within container */
  margin: auto; /* Push image to the right */
  margin-right: 0;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  max-width: 50%; /* Limit text area width */
  margin: auto; /* Vertically center text if needed */
  margin-left: 0;
}

/* Optional: Text styling */
.welcome-text h1 {
  color: white;
  margin-bottom: 15px; /* Adjust spacing as needed */
}

.welcome-text p {
  color: white;
  line-height: 1.6; /* Improve readability */
}

/* Blog Section */

.blog-section {
  background-image: linear-gradient(
      rgba(29, 28, 33, 0.996),
      rgba(29, 28, 33, 0.886)
    ),
    url(/images/stock-mountains.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 95vh; /* Ensure minimum height of 95% viewport height */
  padding: 50px 20px; /* Adds padding for better visuals */
}

.blog-content {
  display: flex; /* Enables flexbox for content layout */
  max-width: 1200px; /* Setting a maximum width to prevent excessive stretching */
  margin: 0 auto; /* Center the content horizontally */
  gap: 20px; /* adjusts gap between flex items */
}

.blog-list {
  width: 90%;
}

.blog-list nav {
  background-color: rgb(45, 41, 55);
  border-radius: 5px;
  padding: 5px 50px 25px 5px;
  height: 45%;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 100px rgb(0, 0, 0);
  border: 1px solid rgb(81, 81, 81);
}

.blog-list-tc {
  list-style-type: none;
}

.blog-button {
  margin-bottom: 10px;
  padding: 5%;
  border: 1px solid rgba(145, 145, 145, 0.4);
  border-radius: 5px;
  box-shadow: 0 3px 8px 0 rgb(36, 36, 36);
}

.blog-button:hover {
  border: 1px solid rgba(95, 79, 107, 0.5);
  box-shadow: 0 3px 8px 0 rgb(0, 0, 0);
  color: rgb(255, 252, 243);
  text-decoration: none;
}

.blog-list-tc li a {
  font-size: 1.1em;
  display: flex;
  align-items: center;
  gap: 1%;
}

.date {
  flex: 0 0 30px;
  white-space: nowrap;
  font-size: 10px;
  color: rgb(125, 125, 125);
  order: 1;
}

.description {
  flex: 0 0 10%;
  white-space: nowrap;
  font-size: 10px;
  color: rgb(125, 125, 125);
  order: 2;
}

.title {
  flex: 1;
  min-width: 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  color: white;
  order: 3;
}

.read-more {
  flex: 0 0 auto;
  font-size: 15px;
  order: 4;
}

.blog-list a:link {
  color: rgb(175, 118, 31);
  text-decoration: none;
}

.blog-list a:visited {
  color: rgb(175, 118, 31);
  text-decoration: none;
}

.blog-list a:focus {
  color: orange;
  text-decoration: none;
}

.title:hover {
  color: rgb(254, 212, 157);
}

.blog-list a:hover {
  color: orange;
  text-decoration: none;
}

.blog-list a:active {
  color: orange;
  text-decoration: none;
}

/* Blog Page Classes blog-post */

.blog-background-img {
  background-image: linear-gradient(
      rgba(13, 17, 23, 0.842),
      rgba(13, 17, 23, 0.637)
    ),
    url(/images/web-design-laptop-stock.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh; /* background covers viewport height */
  display: flex;
  flex-direction: column;
}

.blog-body {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(#0d1117, #0d1117);
}

.blog-header {
  display: flex;
  margin: auto;
  font-size: calc(1rem + 2vw);
}

.blog-subheader {
  color: rgb(199, 199, 199);
  padding-bottom: 50px;
  font-size: 1.1rem;
  margin-left: 50px;
}

.blog-article {
  margin: 5% 20%;
}

.blog-article-section {
  border-radius: 10px;
  padding: 10px;
}

.blog-article-section h3 {
  font-size: 2rem;
}

.blog-example {
  overflow: hidden !important;
  display: flex;
  flex-direction: row;
  padding: 5% 0 5% 0;
  max-width: 100%;
  background-color: #272822;
  border: 3px solid;
  border-color: #272822;
  border-radius: 10px;
  box-shadow: 0 3px 8px 0 rgb(10, 10, 10);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.old-relative {
  position: absolute;
  top: -30px;
  left: -50px;
  padding: 70px;
  border: 5px dotted #a7a7a74b;
  z-index: -1;
  pointer-events: none;
}
/* For text styling */
.old-relative::before {
  content: 'original location';
  position: absolute;
  color: #ffffff38;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers text */
  font-size: 11px;
  background-color: #272822; /* background color */
  padding: 10px;
  border-radius: 5px;
}
.plantpot-relative {
  position: relative;
  top: 30px;
  left: 50px;
  font-size: 11px;
  padding: 70px;
  border: 5px solid #9a54c5;
  z-index: 1;
}
/* For text styling */
.plantpot-relative::before {
  content: 'Plant Pot';
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers text */
  font-size: 11px;
  border-radius: 5px;
}
.flowers-absolute {
  position: relative;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 45px;
  border-radius: 50%;
  background-color: #272822b6;
  border: 5px solid #f7b424;
  z-index: 1;
}
/* For text styling */
.flowers-absolute::before {
  content: 'Flowers';
  font-weight: 800;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers text */
  border-radius: 5px;
}
.plantpot-relative-hidden {
  position: relative;
  top: 30px;
  left: 50px;
  font-size: 11px;
  padding: 100px;
  border: 5px solid #9a54c5;
  z-index: 1;
}
.old-hidden-relative {
  overflow: hidden;
  position: absolute;
  top: -70px;
  left: -50px;
  padding: 100px;
  border: 5px dotted #a7a7a74b;
  z-index: -1;
  pointer-events: none;
}
/* For text styling */
.old-hidden-relative::before {
  content: 'original location';
  position: absolute;
  color: #ffffff38;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers text */
  font-size: 11px;
  background-color: #27282200; /* background color */
  padding: 30px;
  border-radius: 5px;
}
.viewport-fixed {
  position: relative;
  padding: 200px 150px 200px 150px;
  border: 5px dotted #a7a7a74b;
}
.viewport-fixed::before {
  content: 'view port';
  position: absolute;
  color: #ffffff38;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers text */
  font-size: 20px;
  background-color: #27282200; /* background color */
  padding: 5px;
  border-radius: 5px;
}
.sticker-fixed {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 2px 9px 2px 9px;
  z-index: 1;
  background-color: rgba(35, 35, 43, 0.452);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 3px 8px 0 rgb(10, 10, 10);
}
.sticker-fixed:hover {
  background-color: rgb(46, 160, 67);
  cursor: pointer;
}
.imafixedelement {
  font-size: calc(0.5rem + 1vw);
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 2px 9px 2px 9px;
  z-index: 9;
  background-color: rgba(35, 35, 43, 0.452);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 3px 8px 0 rgb(10, 10, 10);
}

.imafixedelement:hover {
  background-color: rgb(46, 160, 67);
  cursor: pointer;
}
/* End of Blog Page Classes */

/* Misc Classes */
.margin-remove {
  margin-top: 0px;
  margin-bottom: 0px;
}

.flex-box-center {
  margin-right: 10%;
  height: 300px;
  width: 500px;
  font-size: 1.2rem;
}

#contact {
  /* Here is a random ID to show that I can do IDs */
  font-weight: 800;
  font-style: italic;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 15pt 0;
  align-items: center;
}

/* widescreen displays */
@media only screen and (max-width: 1150px) {
  main {
    background-color: darkblue;
  }
  .blog-section {
    gap: 2%;
    scale: 100%;
    padding-top: 100px;
  }
  .blog-list {
    width: 50%;
    margin-right: 1%;
  }
  .flex-box-center {
    margin-left: 10%;
  }
  .blog-list nav {
    width: auto;
  }
  .blog-example {
    flex-direction: column;
    height: 100vh;
  }
}

/* tablets */
@media (max-width: 760px) {
  main {
    background-color: black;
  }
  .image-text-section {
    flex-direction: column;
    text-align: center;
    height: auto;
  }
  .image-text-section img {
    max-width: 90%;
    margin: auto;
    padding: 20px;
  }
  .welcome-text {
    padding: 50px;
    margin: auto;
  }
  .blog-list {
    width: 95%;
    margin: auto;
    padding: auto;
  }
  .blog-content {
    flex-direction: column;
  }
  .description {
    padding-right: 10%;
  }
  .title {
    font-size: x-small;
    padding-right: 0;
  }
  .flex-box-center {
    margin-bottom: 40px;
    margin-left: 0px;
    height: auto;
  }
  .blog-article {
    margin: 5% 4%;
  }
  .blog-example {
    height: 130vh;
  }
}

/* phones */
@media (max-width: 360px) {
  .header-nav-li {
    padding: 0;
  }
  .image-text-section img {
    max-width: 90%;
    margin: auto;
    padding: 0;
  }
  .welcome-text {
    padding: auto;
    margin: auto;
  }
  .blog-list nav {
    padding: 5px;
  }
  .blog-list-tc {
    padding: 0px;
    width: 100%;
  }
  .title {
    font-size: 9px;
    margin-right: 1%;
    font-weight: 700;
  }

  .date {
    font-size: 7px;
    margin-right: 1%;
    color: rgb(125, 125, 125);
  }

  .description {
    font-size: 7px;
    margin-right: 15%;
    color: rgb(125, 125, 125);
  }

  .read-more {
    font-size: 10px;
    margin-left: auto;
  }
  .blog-article {
    margin: 5% 0;
  }
  .blog-example {
    height: 140vh;
  }
}
